@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Syne:wght@400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');
/* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */


  /* .step-container {
    display: flex;
    align-items: center; 
    gap: 20px;

  }
  .step-content p,h3{
    margin: 0;
  } */

  /* Marine blue: hsl(213, 96%, 18%)
  - Purplish blue: hsl(243, 100%, 62%)
  - Pastel blue: hsl(228, 100%, 84%)
  - Light blue: hsl(206, 94%, 87%)
  - Strawberry red: hsl(354, 84%, 57%)
  
  ### Neutral
  
  - Cool gray: hsl(231, 11%, 63%)
  - Light gray: hsl(229, 24%, 87%)
  - Magnolia: hsl(217, 100%, 97%)
  - Alabaster: hsl(231, 100%, 99%)
  - White: hsl(0, 0%, 100%)
  
  ## Typography
  
  ### Body Copy
  
  - Font size (paragraph): 16px
   */

   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif !important;
   }
   .container{
    background-color:  hsl(217, 100%, 97%);
    position: relative;
    height: 100vh;
    margin-top:0 ;
}
.multi-container{
    position: absolute !important;
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 50%;
    width: 930px;
    height: 650px;
    background-color: hsl(0, 0%, 100%);
    /* background-color: hsl(0, 0%, 100%); */
    border-radius: 10px;
}
.side-bar{
    position: fixed !important;
    margin-top: 15px !important;
    margin-left:15px;
    background: url(./assets/images/bg-sidebar-desktop.svg);
    background-position: center;
    background-position: no-repeat !important;
    background-size: cover;
    width: 300px;
    height: 620px;
    margin-bottom: 15px !important;
    border-radius:10px ;
}
.side-bar svg{
    position: fixed !important;
    
}
.side-bar-step-container{
    position: relative;
    margin-top:45px  ;
    margin-left: 30px;
}
.step-container{
    display: flex !important;
    align-items: center !important;
    gap: 20px;
    margin-bottom: 30px;
    overflow: hidden !important;
}
.step-container span{
    overflow: hidden !important;
}
.step-container span button{
    font-size: 1.3rem;
    padding:9px 15px 9px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    margin: 0 !important;
    font-weight: 600;   
    outline: 0;
    cursor: pointer;
}
.step-content p{
    font-size: 14px;
    color: hsl(229, 24%, 79%);
    margin: 0 !important;
}
.step-content h3{
    color: hsl(0, 0%, 100%);
    margin: 0 !important;
    padding-top: 5px;
}
.step-container button{
    background-color: transparent ;
}
.step-container .step-active{
    background: hsl(217, 100%, 97%) !important;
    color:hsl(213, 96%, 18%) ;
}
.main-section-cont{
    max-height: 420px;
    height: 100%;
    margin-bottom: 60px;

}
.form-container{
    background-color:transparent !important;
    max-width:440px;
    width: 100%;
    position: relative;
    margin-left:398px ;
    margin-top:78px ;
    /* max-height: 315px; */
    height: 100%;
    display: block !important;
}
.form-active{
    display: none !important;
}
.form-heading{
    margin-bottom: 40px;
}
.form-heading h2{
    color:hsl(213, 96%, 18%) ;
    font-size: 1.8rem;
    margin-bottom: 8px;
}
.form-heading h4{
    color: hsl(229, 24%, 80%) ;
    font-size: 14px;
}
.form-1{
    margin-bottom: 25px;
}
.form-1 > label{
    display: block;
}
.form-1 label{
    color:  hsl(213, 96%, 18%) ;
    margin-bottom:10px ;
    font-weight: 500px;
    font-size: 1rem;
}
.form-1 input{
    border: 1px solid hsl(231, 10%, 70%);
    border-radius: 8px;
    background-color: transparent !important;
    outline: 0;
    width: 400px;
    padding: 12px;
    color: hsl(213, 96%, 18%);
    font-weight: 600;
    font-size: 1.2rem;
}
.form-1 input:focus,
.form-1 input:active:hover{
    border: 2px solid hsl(213, 96%, 18%)
}

.form-1 input::placeholder{
    color: hsl(231, 10%, 70%);
    font-weight: 520;
    font-size: .95rem;
}
.num-required{
    display: flex;
    gap: 130px;
}
.num-required h3{
    font-size: 15px;
    color: red !important;
    display: none;
}
.form-btn{
    display: flex;
    justify-content: right !important;
    width: 440px;
    /* display: none !important; */
    position: fixed !important;
    margin-left: -12px !important;
    margin-top: 8%;
    
}
.form-btn .form-next-btn{
    padding: 16px 30px 16px;
    background-color: hsl(213, 96%, 18%) !important;
    border-radius: 8px;
    color: hsl(217, 100%, 100%);
    border: 0;
    font-size: 1rem !important;
    cursor: pointer !important;
}

            /* plan container starts */
.overall-plan-container{
    max-width:460px;
    width: 100%;
    position: relative;
    margin-left:398px ;
    margin-top:78px ;
    max-height: 535px;
    height: 100%;
    display: none !important;
}
.plan-active{
    display:block !important;
}
.plan-container{
    margin-bottom: 20px;
}
.monthly-plan{
    display: flex;
    justify-content: center;
    gap: 20px;
    /* display: none !important; */
}
.monthly-plan,
.yearly-plan {
  display: flex; /* Set the default display for Monthly */
}

.monthly-yearly-plan{
    display: flex !important;
}
.yearly-plan{
    /* display: flex; */
    justify-content: center;
    gap: 20px;
    display: none;
}
.plan-heading{
    margin-bottom: 25px;
}
.plan-heading h2{
    color:hsl(213, 96%, 18%) ;
    font-size: 1.8rem;
    margin-bottom: 8px;
}
.plan-heading h4{
    color: hsl(229, 24%, 80%);
    font-size: 14px;
}
.plan{
    max-width: 240px !important;
    width: 100%;
    border: 1px solid hsl(229, 24%, 79%);
    border-radius: 15px !important;
    max-height: 300px;
    height: 100%;
    cursor: pointer !important;
}
.plan:hover{
    border: 2px solid hsl(213, 96%, 18%);
}
.active-month,.active-year{
    background-color: hsl(229, 24%, 80%) !important;
    border: 2px solid hsl(213, 96%, 18%);
}
.plan svg{
    margin: 10px;
    margin-bottom: 40px;
}
.plan h2,h3,p {
    margin-left: 10px;
    margin-bottom: 8px;
}
.plan h2{
    color: hsl(213, 96%, 18%);
    padding-bottom:1px;
    font-size: 1.2rem;
}
.monthly svg{
    margin-bottom: 55px !important;
}
/* .yearly h2{
    margin-bottom:px !important;
} */
.yearly h2,h3,p{
    margin-bottom: 5px;
}
.yearly p{
    margin-top: 0px ;
    margin-bottom: 5px;
    margin-left: 10px;
}
.plan h3{
    color: hsl(229, 24%, 60%);
}
.btn-plan{
    display: flex;
    justify-content: space-between;
    width: 460px;
    /* display: none !important; */
    position: fixed !important;
    margin-left: -12px !important;
    margin-top: 16%;
    
}
 .btn-plan .close-plan-btn{
   /* transform: translate(294%, 0%); */
    padding: 16px 30px 16px;
    background-color:transparent;
    border-radius: 8px;
    color: hsl(231, 10%, 70%);
    border: 0;
    font-size: 1rem;
    cursor: pointer !important;
}
.btn-plan .close-plan-btn:hover{
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}
.btn-plan .next-plan-btn{
    padding: 16px 30px 16px;
    background-color: hsl(213, 96%, 18%) !important;
    border-radius: 8px;
    color: hsl(217, 100%, 100%);
    border: 0;
    font-size: 1rem !important;
    cursor: pointer !important;
}
            /* plan container ends */

            /* switch button starts */
 .switch-button{
    margin: 30px auto 0px!important;
    padding:10px 0px 10px ;
    /* border: 1px solid hsl(229, 24%, 87%); */
    background-color: hsl(231, 100%, 99%);
    width: 450px !important;
    border-radius: 8px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    gap: 30px;
}
.switch-button{
    text-align: center !important;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
/* .switch-button .switch-year{
    color: hsl(229, 24%, 79%);
  }
 .switch-button .switch-month{
    color: hsl(213, 96%, 18%);
  } */
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px
  }
  .sliders{
    background-color: hsl(229, 24%, 79%);
  }
  .sliders:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: hsl(217, 100%, 100%);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  .sliders:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.switch input:checked + .slider {
    background-color: hsl(229, 24%, 79%);
  }

.switch  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

            /* switch button ends */

            /* pick adds on starts */
.adds-heading{
    margin-bottom: 30px;
}
.adds-heading h2{
    color:hsl(213, 96%, 18%) ;
    font-size: 1.8rem;
    margin-bottom: 8px;
}
.adds-heading h4{
    color: hsl(229, 24%, 80%) ;
    font-size: 14px;
}
.pick-adds-container{
    background-color: transparent !important;
    max-width:460px;
    width: 100%;
    position: relative;
    margin-left:398px ;
    margin-top:78px ;
    /* max-height: 315px; */
    height: 100%;
    display: none !important;
}
.adds-active{
    display: block !important;
}

.adds-style-active{
    background: hsl(217, 100%, 91%);
}
.pick input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: transparent !important;
    outline: 0;
    border: 7px solid hsl(217, 100%, 91%);
    cursor: pointer;
}
.monthly-adds-active{
    display: block !important;
}
.yearly-adds-cont{
    display: none;
}
.yearly-adds-active{
    display:none !important;
}
.pick{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    padding:10px 10px 10px;
    border: 1px solid hsl(217, 100%, 91%);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 25px;
}
.pick-1{
    display: flex;
    align-items: center;
    gap: 22px;
}
/* .checked{
    input:checked;
} */
.pick input:checked {
    background-color: hsl(243, 100%, 62%);
    color: hsl(217, 100%, 100%);
}
.pick .pick-cont{
    display: inline-block;
    text-align: start !important;

}
.pick .pick-cont h2{
    font-size: 1.2rem;
    color: hsl(213, 96%, 18%);
}
.pick .pick-cont p{
    text-align: start;
    margin: 0;
    color: hsl(229, 24%, 79%);
}
.pick p{
    display: inline-block;
    color: hsl(243, 100%, 62%);
    font-weight: 400;
}
.btn{
    display: flex;
    justify-content: space-between;
    width: 460px;
    /* display: none !important; */
    position: fixed !important;
    margin-left: -12px !important;
    margin-top: 8%;
    
}
 .btn .close-btn{
   /* transform: translate(294%, 0%); */
    padding: 16px 30px 16px;
    background-color:transparent;
    border-radius: 8px;
    color: hsl(231, 10%, 70%);
    border: 0;
    font-size: 1rem;
    cursor: pointer !important;
}
.btn .close-btn:hover{
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}
.btn .next-btn{
    padding: 16px 30px 16px;
    background-color: hsl(213, 96%, 18%) !important;
    border-radius: 8px;
    color: hsl(217, 100%, 100%);
    border: 0;
    font-size: 1rem !important;
    cursor: pointer !important;
}
            /* pick adds on ends */

            /* Finishing up starts */
.finish-container{
    background-color: transparent !important;
    max-width:480px;
    width: 100%;
    position: relative;
    margin-left:398px ;
    margin-top:78px ;
    /* max-height: 315px; */
    height: 100%;
    display: none ;
}
.finish-active{
    display: block!important;
}
.finish-heading{
    margin-bottom: 30px;
}
.finish-heading h2{
    color:hsl(213, 96%, 18%) ;
    font-size: 1.8rem;
    margin-bottom: 8px;
}
.finish-heading h4{
    color: hsl(229, 24%, 80%) ;
    font-size: 14px;
}
.monthly-receipt{
    display: block;
}
.yearly-receipt{
    display: none;
}
.plan-receipt{
    background: hsl(231, 100%, 99%);
    padding: 25px 20px 25px;
    border-radius: 10px;
    margin-bottom: 25px;
}
.plan-receipt .each-plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px ;
}
.plan-receipt .each-plan .plan-1 h3{
    margin-left:0px!important;
    color: hsl(213, 96%, 18%);
    margin-bottom: 8px;
}
.each-plan h3{
    color: hsl(213, 96%, 18%);
}
.plan-1{
    margin-bottom:28px ;
}
.plan-1::before{
    position: absolute;
    top: 44%;
    width: 90%;
    content: '';
    height: 1px;
    background: hsl(229, 24%, 80%);
    left: 4%;
}
.plan-1 a{
    color:hsl(229, 24%, 77%) ;
    margin-top: 10px;
}
.plan-1 a:hover{
    color: hsl(243, 100%, 62%);
}
.plan-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
.plan-2 h4:first-child{
    color: hsl(229, 24%, 77%);
}
.plan-2 h4:last-child{
    color: hsl(213, 96%, 18%);
}
.total-receipt{
    display: flex;
    justify-content: space-between;
    margin: 0px 25px 0px;
}
.total-receipt p{
    color: hsl(229, 24%, 57%);
    font-size: 1.1rem;
}
.total-receipt h3{
    font-size: 1.5rem;
    color: hsl(243, 100%, 62%);
}
.btn-finish{
    display: flex;
    justify-content: space-between;
    width: 460px;
    /* display: none !important; */
    position: fixed !important;
    margin-left: -12px !important;
    margin-top: 8%;
    
}
 .btn-finish .close-finish-btn{
   /* transform: translate(294%, 0%); */
    padding: 16px 30px 16px;
    background-color:transparent;
    border-radius: 8px;
    color: hsl(231, 10%, 70%);
    border: 0;
    font-size: 1rem;
    cursor: pointer !important;
}
.btn-finish .close-finish-btn:hover{
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}
.btn-finish .next-finish-btn{
    padding: 16px 30px 16px;
    background-color: hsl(213, 96%, 18%) !important;
    border-radius: 8px;
    color: hsl(217, 100%, 100%);
    border: 0;
    font-size: 1rem !important;
    cursor: pointer !important;
}
.btn-finish .next-finish-btn:hover{
    background-color: hsl(243, 100%, 62%) !important;
    color: hsl(217, 100%, 100%);
}
             /* Finishing up end */

               /* thank you start */
.thanks-container{
background-color: transparent !important;
max-width:460px;
width: 100%;
position: relative;
margin-left:398px ;
margin-top:178px ;
/* max-height: 315px; */
height: 100%;
display: none !important;
text-align: center !important;
}
.thanks-active{
    display: block !important;
}
.thanks-container h2,p{
    margin: 20px 0px 20px;
}
.thanks-container h2{
    color: hsl(213, 96%, 18%);
    font-weight: 800;
    font-size: 1.8rem;
}
.thanks-container p{
    color: hsl(229, 24%, 79%);
}
            /* thank you end */ 